body{
	background: #454545;
	line-height: 2;
}
a {
	text-decoration: none;
}
a, body{
	color: #eee;
}
.side-bar{
	line-height: 1;
	float: left;
	position: fixed;
	width: 15%;
}
.side-bar > * {
	padding: 20px 20px;
}
.side-bar .nav a,
.side-bar .list a {
	display: block;
	padding: 10px;
	color: #888;
	-webkit-transition: color 200ms;
	-o-transition: color 200ms;
	transition: color 200ms;
}
.side-bar .nav a:hover,
.side-bar .list a:hover{
	color: #eee;
}
.side-bar .nav a{
	font-weight: 800;
}
.main{
	color: #454545;
	margin-top: 10px;
	float: right;
	width: 80%;
}
.header .logo{
	border: 5px solid #eee;
	padding: 10px 20px;
	font-size: 30px;
	display: inline-block;
	margin-bottom: 10px;
}
.article-list{
	margin-right: 30%;
	background: #fff;
	padding: 20px;
}
.article-list .item .title{
	margin-top: 20px;
	font-size: 22px;
	font-weight: 600;
}
.article-list .item .status {
	font-size: 10px;
	color: #ccc;
}
.article-list .item > * {
	margin: 5px 0;
}
.box {
	display: none;
}
#toggle {
	display: none;
}
